<div *ngIf="loading" class="app-loader">
  <app-loader></app-loader>
</div>

<main>
  <div class="holder">

    <div style=" position: fixed;" class="img-holder">
      <img  routerLink="/dashboard" class="icon" src="../../../assets/images/etips_logo_samples-06 1.svg"/>    
      </div>
      <div style="opacity: 0;" class="img-holder2">
        <img routerLink="/dashboard" class="icon" src="../../../assets/images/etips_logo_samples-06 1.svg"/>    
        </div>

              <app-header style="width: 100%;"></app-header>

          <div class="form-item">

              <!-- <img src="../../../assets/images/unsplash_-rF4kuvgHhU.png"/> -->

                <div style="display: flex; gap: 5px; align-items: center;">
                  <p>Tips Balance</p>
                </div>

                <label class="tips-bal">R1500.00</label>

                <div class="headings">
                  <div class="lines"  style="margin: 0px 10%;"></div>
              </div>
                <div class="div-1">
                  <p>Next transfer date</p>
                  <label>DD/ MMM / YYYY</label>
                </div>
    
          </div>

          <p class="info-mess">
            <b><u>Disclaimer</u>!</b>
            Funds are automatically transferred to your bank account weekly. This feature is in beta, and we recommend monitoring your transactions closely. Please report any issues as we continue to improve 
            the service.
          </p>
          <p style="padding-top: 5px;">All funds are transfered to this account</p>
          <div *ngIf="true" class="form-item2">
            
            <div class="top-card">
                <label>R50</label>
                <img class="visa-img" src="../../../assets/images/Visa.png"/>
               </div>

               <div  class="middle-card" >
                <label>****   ****    ****   4782</label>
                <img />
               </div>

               <div class="bottom-card">
                <div>
                    <label>Card Holder</label>
                    <p>Lethabo Mtshali</p>
                </div>

                <div>
                    <label>Expires</label>
                    <p>01/21</p>
                </div>
                
               </div>
        </div>
          <!-- <div class="form-item">

                <div style="display: flex; gap: 5px; align-items: center;">
                  <p>Total Tips Received</p>
                </div>
                <hr>

                <h5>R1500.00</h5>

                <div class="div-1">
                  <div class="d1">

                      <p>Highest Tip</p>
                      <h4>R500</h4>
                  </div>

                  <div class="d1">
                      <p>Total Tips Shared</p>
                      <h4>R300</h4>
                  </div>
                </div>

                <hr>

                <div style="
                width:100%; 
                display: flex; 
                align-items: center; 
                justify-content: space-around;">
                  <label type="submit" style="border-bottom: 3px solid orange;">Daily</label>
                  <label type="submit">Weekly</label>
                  <label type="submit" >monthly</label>
              </div>
          </div> -->

      </div>
</main>