<main>
  <div class="holder">

    <div style=" position: fixed;" class="img-holder">
      <img  routerLink="/dashboard" class="icon" src="../../../assets/images/etips_logo_samples-06 1.svg"/>    
      </div>
      <div style="opacity: 0;" class="img-holder2">
        <img routerLink="/dashboard" class="icon" src="../../../assets/images/etips_logo_samples-06 1.svg"/>    
        </div>
       <div class="headings">
                  <div class="lines"></div>
              </div>

              <app-header style="width: 100%;"></app-header>

          <div class="form-item">

              <!-- <img src="../../../assets/images/unsplash_-rF4kuvgHhU.png"/> -->

                <div style="display: flex; gap: 5px; align-items: center;">
                  <p>Account Balance</p>
                </div>

                <h5>R1500.00</h5>
                <hr>

                <div class="div-1">
                  <div class="d1">

                      <p>Total Income</p>
                      <h4>R4500</h4>
                  </div>

                  <div class="d1">
                      <p>Expenses</p>
                      <h4>R3000</h4>
                  </div>
                </div>

                <hr>

                <div class="btn-holder">
                  <button type="submit" routerLink="/withdraw" class="btn-1">Withdraw</button>
              </div>
          </div>

          <div class="form-item">

              <!-- <img src="../../../assets/images/unsplash_-rF4kuvgHhU.png"/> -->

                <div style="display: flex; gap: 5px; align-items: center;">
                  <p>Total Tips Received</p>
                </div>
                <hr>

                <h5>R1500.00</h5>

                <div class="div-1">
                  <div class="d1">

                      <p>Highest Tip</p>
                      <h4>R500</h4>
                  </div>

                  <div class="d1">
                      <p>Total Tips Shared</p>
                      <h4>R300</h4>
                  </div>
                </div>

                <hr>

                <div style="
                width:100%; 
                display: flex; 
                align-items: center; 
                justify-content: space-around;">
                  <label type="submit" style="border-bottom: 3px solid orange;">Daily</label>
                  <label type="submit">Weekly</label>
                  <label type="submit" >monthly</label>
              </div>
          </div>

      </div>
</main>