main{
    padding: 0px 25px;
    padding-bottom:0px;
    margin-bottom: 0px; 
    background-color: #F7F7F2;
    justify-content: flex-start;
    /* background-image: url('/assets/images/image.png'); */
}

.holder{
    padding: 0px;
    width: 100%;
    height: auto;
    gap: 0;
    justify-content: flex-start;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: red; */
    box-sizing: border-box;
}

.tips-bal{
    font-size: 20px;
    letter-spacing: 1px;

    text-wrap: wrap;
}

.info-mess{
    font-size: 10px;
    padding: 5% 5px;
    word-spacing: 0.5px;
    letter-spacing: 0.5px;
    text-align: center;
}

p{
    color: gray;

    font-size: 12px;
}

.headings{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    padding: 5px 0px;
    justify-content: center;
    align-items: center;
}

.headings .lines{
    width: 100%;
    height: 1px;
    background-color: rgb(226, 226, 226);
    
}

.headings label{
    text-wrap:nowrap;
    font-size: 16px;
    letter-spacing: 1px;
}

/* @media only screen and (max-width:700px){ */

    .img-holder{
        /* background-color: red; */
        padding: 0% 0px;
        background-color: #F7F7F2;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .img-holder2{
        /* background-color: red; */
        padding: 0% 0px;
        background-color: #F7F7F2;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .icon{
        height: 50px;
        padding: 10% 0px;
        padding-top: 5%;
    }

    .title{
        font-size: 28px; 
        font-weight: 500; 
        line-height: 28px; 
        text-align: center; 
        display: flex; 
        align-items: center; 
        letter-spacing: 0em;
        color: black;
    }

    .btn-holder{
        display: flex;
        gap: 10px;
        width: 100%;
        margin-top: 10px;
        justify-content: center;
    }

    button{
        border-radius: 5px;
        width: auto;
        padding: 12px;
        font-size: 18px;
        outline: none;
        border: none;
        color: white;
          
    }

    .btn-1{
        background: var(--primary-color);
        font-size: 16px;
        color: rgb(255, 255, 255);   
        width: 100%;
    }

    .btn-2{
        background-color: transparent;
        border: 0.5px solid #1C1C1C;
        font-size: 16px;
        color: #1C1C1C;   
    }

   .form-item{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px; 
        padding: 10px 0px;
        height: auto;
        background-color: #fff;
        border-radius: 8px;
        border: 1px solid  rgb(226, 226, 226);
        margin-top: 15px;
        justify-content: center;
        align-items: center;
    }

    .form-item2{
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 20px; 
        padding: 10px 15px;
        height: 20%;
        background-color: #fff;
        border-radius: 8px;
        border: 1px solid gray;
        margin-top: 8px;
        justify-content: center;
        align-items: center;
        background-image: url(/assets/images/Mask\ Group@1x.png);
        /* background-color: rgb(31, 244, 109); */
        color: #fff;
    }

    .top-card{
        display: flex;
        justify-content: space-between;
        align-items: center;    
        width: 100%;
    }
    .middle-card{
        display: flex;
        justify-content: space-between;
        align-items: center;    
        width: 100%;
        word-spacing: 20px;
    }
    .bottom-card{
        display: flex;
        justify-content: space-between;
        align-items: center;    
        width: 100%;
        color: white;
    }

    .bottom-card p{
        color: white;
    }

    .visa-img{
        width: 40px;

    }

    .div-1{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }

    .div-1 label{
        font-size: 11px;
        text-wrap: wrap;
    }

    .d1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
 
/* } */

button{
    padding: 8px;
}