<div *ngIf="selectedOption == 'change-password'" class="change-pass2">
  <div class="change-pass">

    <div class="input-div">
      <label for="">New Password*</label>
      <input [(ngModel)]="passwords!.password" #password="ngModel" id="password" type="password" name="password"  minlength="8" appForbiddenName="etips" required placeholder="Enter Password"/>
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="errors">password is required.</div>
  
    <div class="errors" *ngIf="password.hasError('minlength')">
      minimum length is 8.
    </div>
    <div class="errors" *ngIf="password.hasError('forbiddenName')">
      password cannot be etips.
    </div>
  </div>
    
    <div class="input-div">
        <label for="" >Confirm password*</label>
        <input [(ngModel)]="passwords!.repassword" #repassword="ngModel" id="repassword" type="password" name="repassword"  minlength="8" appForbiddenName="etips" required placeholder="Confirm Password"/>
        <div *ngIf="repassword.invalid && (repassword.dirty || repassword.touched)" class="errors">password is required.</div>
    
      <div class="errors" *ngIf="repassword.hasError('minlength')">
        minimum length is 8.
      </div>
      <div class="errors" *ngIf="repassword.hasError('forbiddenName')">
        password cannot be etips.
      </div>
      <div class="errors" *ngIf="password.value != repassword.value">
        password don't match.
      </div>
    </div>
    
    <button (click)="selectComponent('none')" class="btn-2 mt-2 mb-1">Cancel</button>
    <button (click)="UpdatePassword()" type="submit" class="btn-1">Update</button>
  </div>
 
</div>

<section class="bg-gray-100 h-screen flex justify-center items-center">
  
  <div class="section h-screen w-full">

        <!-- Logo (Assumed to be an Image) -->
      
        <!-- Security & Privacy Heading -->
        <h2 class="text-center text-lg font-semibold mb-4 mt-2">Security & Privacy</h2>
    
        <!-- Security Status Section -->
        <div class="mb-4">
          <!-- <div class="flex justify-between items-center mb-4">
            <div>
              <h3 class="text-gray-800 font-medium">Secure Launch</h3>
              <p crclass="text-sm text-gray-500">Enables fingerprint authentication</p>
            </div>
            <input type="checkbox" class="toggle-checkbox h-6 w-8 rounded-full bg-purple-500 checked:bg-purple-600 transition" checked>
          </div> -->
    
          <div class="flex justify-between items-center">
            <div>
              <h3 class="text-gray-800 font-medium">Email Notification</h3>
              <p class="text-sm text-gray-500">Email Notifications or Promotions</p>
            </div>
            <input type="checkbox" class="toggle-checkbox h-6 w-8 rounded-full bg-gray-300 checked:bg-purple-600 transition">
          </div>
        </div>
    
        <!-- Login and Password Section -->
        <div class="mt-6 mb-4">
          <h4 class="text-gray-800 font-semibold mb-2">Login and Password</h4>
          <div (click)="selectComponent('change-password')" class="flex justify-between items-center mb-4">
            <span class="text-gray-800">Change Password</span>
            <button class="text-gray-500 pr-0">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
              </svg>
            </button>
          </div>
          <div class="flex justify-between items-center">
            <span class="text-gray-800">Reference email</span>
            <button class="text-gray-500  pr-0">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
              </svg>
            </button>
          </div>
        </div>
    
        <!-- Privacy Section -->
        <div class="mt-6 mb-4">
          <h4 class="text-gray-800 font-semibold mb-2">Privacy</h4>
          <div class="flex justify-between items-center mb-4">
            <span class="text-gray-800">Location</span>
            <input type="checkbox" class="toggle-checkbox h-6 w-8 rounded-full bg-gray-300 checked:bg-purple-600 transition">
          </div>
          <div class="flex justify-between items-center">
            <span class="text-gray-800">Notification</span>
            <button class="text-gray-500  pr-0">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
              </svg>
            </button>
          </div>
        </div>
    
        <!-- Personal Identification Section -->
        <div class="mt-6 mb-4">
          <h4 class="text-gray-800 font-semibold mb-2">Personal Identification</h4>
          <div class="flex justify-between items-center mb-4">
            <span class="text-gray-800">Identity verification</span>
            <button class="text-gray-500 pr-0">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
              </svg>
            </button>
          </div>
          <div class="flex justify-between items-center">
            <span class="text-gray-800">Notification</span>
            <button class="text-gray-500 pr-0">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
              </svg>
            </button>
          </div>
        </div>
    
        <!-- Deactivate Account Button -->
        <div class="sect flex justify-center w-full">
          <button class="text-red-600 text-sm">Delete my account</button>
        </div>
      </div>
    </section>

    <div>
      <div class="form-item">
          <div class="headings">
              <div class="lines"></div>
              <label>Security</label>
              <div class="lines"></div>
          </div>

      </div>
    </div>
  

    