<main>
    <div class="holder">

        <div style=" position: fixed;" class="img-holder">
          <img  routerLink="/dashboard" class="icon" src="../../../assets/images/etips_logo_samples-06 1.svg"/>    
          </div>
          <div style="opacity: 0;" class="img-holder2">
            <img  routerLink="/dashboard" class="icon" src="../../../assets/images/etips_logo_samples-06 1.svg"/>    
            </div>
           <div class="headings">
                      <div class="lines"></div>
                  </div>
  
                  <app-header style="width: 100%;"></app-header>

            <p>Withdraw Amount</p>
            <div *ngIf="true" class="form-item">

                <!-- <img src="../../../assets/images/unsplash_-rF4kuvgHhU.png"/> -->

                  <div style="display: flex; gap: 5px; align-items: center;">
                    <p>Account Balance</p>
                  </div>
                  <h5>R1500.00</h5>
                  <hr>
                  <div class="div-1">
                    <p>Amount</p>
                    <input type="number" placeholder="R" />
                  </div>
            </div>
            <div class="btn-holder">
                <button type="submit" class="btn-1">Withdraw</button>
            </div>

            <div *ngIf="true" class="form-item">

                <div class="top-card">
                    <label>R50</label>
                    <img class="visa-img" src="../../../assets/images/Visa.png"/>
                   </div>
    
                   <div  class="middle-card" >
                    <label>****   ****    ****   4782</label>
                    <img />
                   </div>
    
                   <div  class="bottom-card">
                    <div>
                        <label>Card Holder</label>
                        <p>Lethabo Mtshali</p>
                    </div>
    
                    <div>
                        <label>Expires</label>
                        <p>01/21</p>
                    </div>
                    
                   </div>
            </div>

            <div *ngIf="true" class="form-item">

                <!-- <img src="../../../assets/images/unsplash_-rF4kuvgHhU.png"/> -->

               <div class="top-card">
                <label>R50</label>
                <img class="visa-img" src="../../../assets/images/Visa.png"/>
               </div>

               <div  class="middle-card" >
                <label>****   ****    ****   4782</label>
                <img />
               </div>

               <div  class="bottom-card">
                <div>
                    <label>Card Holder</label>
                    <p>Lethabo Mtshali</p>
                </div>

                <div>
                    <label>Expires</label>
                    <p>01/21</p>
                </div>
                
               </div>


            </div>
        </div>
</main>