<app-loader *ngIf="loading" style="display: flex; 
height: 100vh;
width: 100%;
justify-content: center;
align-items: center;
position: absolute; 
z-index: 1000;
"></app-loader>

<app-verify-email *ngIf="successful"
style="position: absolute;
z-index: 999;
"></app-verify-email>


<main>
    <div class="holder">

        <div class="img-holder">
        <img class="icon" src="/assets/images/etips_logo_samples-06 1.svg"/>    
        </div>
        
        <form #userForm="ngForm" (ngSubmit)="mRegister(userForm)">
            <div *ngIf="CurrentPage == 0" class="form-item">
                <div class="headings">
                    <div class="lines"></div>
                    <label>Personal Details</label>
                    <div class="lines"></div>
                </div>
    
                <div class="input-div">
                    <label for="">Fullname*</label>
                    <input [(ngModel)]="user!.firstName" #fullname="ngModel" id="fullname" type="text" name="fullname"  minlength="2" appForbiddenName="etips" required placeholder="Enter fullname"/>
                    <div *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)" class="errors">fullname is required.</div>
                
                  <div class="errors" *ngIf="fullname.hasError('minlength')">
                    minimum length is 2.
                  </div>
                  <div class="errors" *ngIf="fullname.hasError('forbiddenName')">
                    fullname cannot be etips.
                  </div>
                </div>
    
                <div class="input-div">
                    <label for="" >Surname*</label>
                    <input  [(ngModel)]="user!.lastName" #surname="ngModel" id="surname" type="text" name="surname"  minlength="2" appForbiddenName="etips" required placeholder="Enter surname"/>
                    <div *ngIf="surname.invalid && (surname.dirty || surname.touched)" class="errors">surname is required.</div>
                
                  <div class="errors" *ngIf="surname.hasError('minlength')">
                    minimum length is 2.
                  </div>
                  <div class="errors" *ngIf="surname.hasError('forbiddenName')">
                    surname cannot be etips.
                  </div>
                </div>
    
                <div class="headings">
                    <div class="lines"></div>
                    <label>Contact Details</label>
                    <div class="lines"></div>
                </div>
    
                <div class="input-div">
                    <label for="">Phone number*</label>
                    <input oninput="this.value=this.value.replace(/[^0-9]/g,'')" [(ngModel)]="user!.mobileNumber" #contact="ngModel" id="contact" type="text" name="contact"  minlength="10" maxlength="10" appForbiddenName="etips" required placeholder="+27  |   Enter phone number"/>
                    <div *ngIf="contact.invalid && (contact.dirty || contact.touched)" class="errors">contact is required.</div>
                
                  <div class="errors" *ngIf="contact.hasError('minlength')">
                    minimum length is 10.
                  </div>
                  <div class="errors" *ngIf="contact.hasError('maxlength')">
                    max length is 10.
                  </div>
                  <div class="errors" *ngIf="contact.hasError('forbiddenName')">
                    contact cannot be etips.
                  </div>
                </div>
    
                <div class="input-div">
                    <label for="" >Email*</label>
                    <input [(ngModel)]="user!.email" #email="ngModel" id="email" type="text" name="email"  minlength="4" appForbiddenName="etips" required placeholder="Enter email" email/>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="errors">email is required.</div>
                
                  <div class="errors" *ngIf="email.hasError('minlength')">
                    minimum length is 4.
                  </div>
                  <div class="errors" *ngIf="email.hasError('forbiddenName')">
                    email cannot be etips.
                  </div>
                </div>
            </div>

            <div *ngIf="CurrentPage == 1" class="form-item">
                <div class="headings">
                    <div class="lines"></div>
                    <label>Security</label>
                    <div class="lines"></div>
                </div>
    
                <div class="input-div">
                    <label for="">Password*</label>
                    <input [(ngModel)]="user!.password" #password="ngModel" id="password" type="password" name="password"  minlength="8" appForbiddenName="etips" required placeholder="Enter Password"/>
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="errors">password is required.</div>
                
                  <div class="errors" *ngIf="password.hasError('minlength')">
                    minimum length is 8.
                  </div>
                  <div class="errors" *ngIf="password.hasError('forbiddenName')">
                    password cannot be etips.
                  </div>
                </div>

                <div class="input-div">
                    <label for="" >Confirm password*</label>
                    <input [(ngModel)]="user!.repassword" #repassword="ngModel" id="repassword" type="password" name="repassword"  minlength="8" appForbiddenName="etips" required placeholder="Confirm Password"/>
                    <div *ngIf="repassword.invalid && (repassword.dirty || repassword.touched)" class="errors">password is required.</div>
                
                  <div class="errors" *ngIf="repassword.hasError('minlength')">
                    minimum length is 8.
                  </div>
                  <div class="errors" *ngIf="repassword.hasError('forbiddenName')">
                    password cannot be etips.
                  </div>
                  <div class="errors" *ngIf="password.value != repassword.value">
                    password don't match.
                  </div>
                </div>

                <!-- <div class="input-div">
                    <label for="" >Confirm password</label>

                    <div class="prog-indicators">
                        <div class="indicator indicator-off"></div>
                        <div class="indicator indicator-off"></div>
                        <div class="indicator indicator-off"></div>
                        <div class="indicator indicator-off"></div>
                    </div>
                </div> -->

                <div class="checkbox">
                    <input [(ngModel)]="user!.termsAndCon" #tandc="ngModel" id="tandc" name="tandc" type="checkbox" value="TAndC">
                    <label for="">Agree to<span>Terms and Conditions</span></label>
                    <div *ngIf="!tandc.invalid && !tandc.touched" class="errors">*</div>
                </div>

                <div class="checkbox">
                    <input [(ngModel)]="user!.privacy_policy" #privacypolicy="ngModel" id="privacypolicy" name="privacypolicy" type="checkbox" value="privacypolicy">
                    <label for="">Consent to<span>Privacy Policy</span></label>
                    <div *ngIf="!privacypolicy.invalid && !privacypolicy.touched" class="errors">*</div>
                </div>

                <div class="checkbox">
                    <input [(ngModel)]="user!.email_not" #emailnoti="ngModel" id="emailnoti" name="emailnoti" type="checkbox" value="opt-in">
                    <label for="">Opt-in for Email Notifications or Promotions (optional)</label>
        
                </div>
            </div>

            <div *ngIf="CurrentPage == 2" class="form-item">
                <div class="headings">
                    <div class="lines"></div>
                    <label>Two-Factor Authentication</label>
                    <div class="lines"></div>
                </div>
    
                <div class="input-div">
                    <p>A verification code has been sent to yourname.com</p>
                </div>


                <div class="input-div">
                    <p>If you have not recieved your verification code, you can request a new code after 30 seconds.</p>
                </div>


                <div class="input-div">
                    <p>Your code will expire in: x mins xx seconds</p>
                </div>

                <div class="input-div">
                    <label for="" >verification code</label>

                    <div class="ver-holder">
                        <input type="text" maxlength="1" max="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" /> 
                        <input type="text" maxlength="1" max="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" /> 
                        <input type="text" maxlength="1" max="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" /> 
                        <input type="text" maxlength="1" max="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" /> 
                        <input type="text" maxlength="1" max="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" /> 
                    </div>
                    
                </div>

                <div class="checkbox">
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="TAndC">
                    <label for="">Remember</label>
                </div>

                <div class="input-div">
                    <p>Use this option only on your personal devices. Do not select if using a shared device.</p>
                </div>
    
            </div>

            <div class="btn-holder">
                <div class="buttons btn-2" (click)="PreviousClick()">Cancel</div>
                <div *ngIf="CurrentPage < pageCount" (click)="NextClick(userForm)" class="buttons btn-1">Next</div>
                <button *ngIf="CurrentPage == pageCount" class="buttons btn-2" type="submit" class="buttons btn-1">Submit</button>
            </div>

        </form>

            <div class="prog-indicators">
                <br>
                <div class="indicator {{CurrentPage >= 0 ? 'indicator-on' : 'indicator-off'}}"></div>
                <div class="indicator {{CurrentPage >= 1 ? 'indicator-on' : 'indicator-off'}}"></div>
                <div class="indicator {{CurrentPage >= 2 ? 'indicator-on' : 'indicator-off'}}"></div>
            </div>
    
        </div>
</main>


