<main>
    <div class="holder">

        <img src="/assets/images/image.png"/>
        <div class="content">
            <img class="icon" src="/assets/images/etips_logo_samples-06 1.svg"/>

    <p  class="message">
        Innovative digital tipping product 
        serving the needs of the service 
        industry workers
    </p>

    
<hr>
    <button class="btn-1" routerLink="/sign-up/details">Sign up free</button>
    <button class="btn-2">Continue with email</button>
    <button class="btn-2">Continue with Google</button>
    <button class="btn-2">Continue with LinkedIn</button>
    <button class="btn-2" routerLink="/sign-in">Login</button>
        </div>

    </div>
</main>