<div class="bottom-div">
    <div class="single-item" routerLink="/dashboard" routerLinkActive="single-item-selected">
        <i class="fa-solid fa-house-chimney" ></i>
        <label>Home</label>
    </div>

    <div class="single-item" routerLink="/tips"  routerLinkActive="single-item-selected">
        <i class="fa-solid fa-wallet"></i>
        <label>Wallet</label>
    </div>

    <div class="single-item"  routerLink="/account-setting" routerLinkActive="single-item-selected">
        <i class="fa-solid fa-gear"></i>
        <label>Settings</label>
    </div>
</div>