:root{
    --primary-color: #008080;
}

* {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}


main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
}

.holder{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
    justify-content: center;
    padding: 28px;
}

button{
    padding: 8px;
}

.errors{
    color: red;
    font-size: 13px;
  }

  .app-loader{
    /* From https://css.glass */

    height: 100vh;
    width: 100%;
    /* background-color: red; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.27);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(255, 255, 255, 0.22);
}